.input-wrapper {
  margin: 0px 0;
}

.invalid {
  border: 1px solid red !important;
  border-radius: 4px;
}
:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
