<app-navbar></app-navbar>

<div class="search-container">
  <app-input-field
    [(model)]="query"
    placeholder="Pretraži knjige..."
    type="text"
    appShadowOnHover
  >
  </app-input-field>
  <app-button [text]="'Pretraži'" (click)="search()"></app-button>
</div>

<div class="book-list">
  <div class="book" *ngFor="let book of books">
    <h4>{{ book.volumeInfo.title }}</h4>
    <p>{{ book.volumeInfo.authors?.join(', ') }}</p>
    <img
      *ngIf="book.volumeInfo.imageLinks"
      [src]="book.volumeInfo.imageLinks.thumbnail"
      alt="naslovna"
    />
  </div>
</div>
